<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833243655916-no70utm8quavkv7ksvgjdidornfib5dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833243655916-no70utm8quavkv7ksvgjdidornfib5dd</string>
	<key>API_KEY</key>
	<string>AIzaSyAfhj308bO4S0y7sHdzCalT37cr6UHwbzY</string>
	<key>GCM_SENDER_ID</key>
	<string>833243655916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeRide</string>
	<key>PROJECT_ID</key>
	<string>safe-ride-ff8d5</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-ride-ff8d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833243655916:ios:7aab35394ca79476</string>
	<key>DATABASE_URL</key>
	<string>https://safe-ride-ff8d5.firebaseio.com</string>
</dict>
</plist>